/* 
  style.css

  Colors
  =======

  Black:        #000000
  Darker Grey:  #222222
  Dark Grey:    #333333
  Grey:         #444444
  Light Grey:   #eeeeee
  Dark Red:     #880000
  Dark Blue:    #0090bf

*/

/* ---------------------
  General Styles 
  --------------------- */

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

/* ---------------------
  Typohgraphy 
  --------------------- */

h1, h2, h3 {
  font-weight: 300;
  margin: 0;
  line-height: 45px;
  color: #fff;
}

h4, h5, h6 {
  font-weight: bold;
  margin: 5px 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
  margin: 10px 0;
}

h5 {
  font-size: 13px;
  margin: 0;
  text-transform: uppercase;
}

p {
  margin: 0 0 10px 0;
}

p.lead {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

/* ---------------------
  Layout 
  --------------------- */

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

header {
  background: #000;
}

#logo {
  display: block;
  padding: 17px 0 16px 5px;
  float: left;
}

#hero {
  background: #880000;
  color: #000;
  height: 310px;
  
  background-image: url("../Images/header.png");
  background-repeat: no-repeat;
  background-position: 65.5%;
}

#hero-alt {
  background: #880000;
  color: #000;
}

#hero-title {
  width: 920px;
  padding: 40px 0;
  float: left;
}

/*
#hero-title-secondary {
  width: 520px;
  padding: 30px 0;
  float: left;
} 
*/

#hero-image {
  float: right;
  margin: 10px 0 -30px 0; /*10 0 -30 0*/
}

#call-to-action {
  margin: 40px 0;
}

#lead-in {
  margin-bottom: 30px;
}

#content {
  padding: 35px 0;
}

#column-content {
  width: 700px;
  float: left;
}


/* ---------------------
  Member Bio CSS 
  --------------------- */
.member-bios {
  width: 940px;
}

.member-bio-left {
  float: left;
  width: 45%;
  padding: 10px 10px;
  margin: 0 auto;
  height: 200px;
}

.member-bio-right {
  float: right;
  width: 45%;
  padding: 10px 10px;
  margin: 0 auto;
  height: 200px;
}

/* Member Name CSS*/
.member-bio-left h4{
  color:#444;
  font-size: 24px;
  text-transform: capitalize;
}

.member-bio-right h4{
  color:#444;
  font-size: 24px;
  text-transform: capitalize;
}

/*Member Rank CSS*/
.member-bio-left h5{
  color:#444;
  font-size: 16px;
  text-transform: capitalize;
}

.member-bio-right h5{
  color:#444;
  font-size: 16px;
  text-transform: capitalize;
}

/*Photo Alignment*/
.member-bio-img {
  float: left;
  padding: 10px 10px;
}

/* ---------------------
  Sidebar 
  --------------------- */

aside {
  background: #444;
  width: 160px;
  color: #fff; 
  float: left;
  margin-left: 20px;
  padding: 30px;
  font-size: 12px;
  line-height: 18px;
}

aside.widget {
  margin: 10px 0;
}
aside .widget:nth-child(2) {
  margin-top: 40px;
}

aside .widget h4 {
  font-weight: 200;
  font-size: 20px;
  margin: 0 0 10px;
}

aside .socials a {
  position: relative;
  margin-right: 5px;
}

aside .socials a:hover {
  top: -1px;
}

/* ---------------------
  Secondary call to action 
  --------------------- */

#secondary-cta {
  background: #eee;
  padding: 15px 0;
}

#secondary-cta h4 {
  font-weight: 200;
  font-size: 24px;
  float: left;
}

#secondary-cta form {
  margin: 0;
  float: right;
}

/* ---------------------
  Footer 
  --------------------- */

footer {
  background: #444;
  color: #fff;
  padding: 50px 0;
}

footer #copyright {
  width: 450px;
  float: left;
}

footer nav {
  width: 340px;
  float: right;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer nav a {
  margin: 0 0 0 15px;
}

footer a:hover {
  color: #00c0ff;
}

/* ---------------------
  Navigation 
  --------------------- */

nav ul {
  margin: 0;
  padding: 0;
  float: right;
}

nav ul li {
  list-style: none;
  float: left;
}

header nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  border-left: solid 1px #333; 
}


header nav ul li a:hover { 
  background: #222;
}

header nav ul li a:active { 
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
     -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset; 
}

/* ---------------------
  Buttons 
  --------------------- */

.btn {
  width: auto;
  background: #444;
  border-left: 1px solid #1e728c;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  /* IE7 inline-block fix*/
  zoom: 1;
  *display: inline;

  margin: 0;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;

  /* Fancy box shadows */
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

  /* CSS3 transition animations */
  -webkit-transition: background-color 0.15s ease-in-out;
     -moz-transition: background-color 0.15s ease-in-out;
       -o-transition: background-color 0.15s ease-in-out;
          transition: background-color 0.15s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: #0086b2; 
}

.btn:active {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
         -box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;

  color: #fff;
}

.btn-large {
  padding: 22px 30px;
  font-size: 24px;
  font-weight: 200;
}

.btn-secondary {
  font-size: 20px;
}

.btn-small {
  font-weight: bold;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
  background: none;
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
         -box-shadow: none;
}

.btn-secondary:hover {
  text-decoration: underline;
}

.btn-secondary:active {
  position: relative;
  top: 1px;
}

/* ---------------------
  Global Styles 
  --------------------- */

input {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

input[type="text"], input[type="email"]  {
  position: relative;
  padding: 11px 10px;
  border: solid 1px #ccc;
  width: 220px;
  margin: 0 -5px 0 0;
}

.column {
  float: left;
  margin-right: 20px;
}

.four {
  width: 220px;
}

.last {
  margin-right: 0;
}

/* Generic clearfix copypasta */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix:after {
  zoom: 1; /* for IE6/7 (trigger hasLayout) */
}