/*
  style.css

  Colors
  =======

  Black:        #000000
  Darker Grey:  #222222
  Dark Grey:    #333333
  Grey:         #444444
  Light Grey:   #eeeeee
  Dark Red:     #880000
  Dark Blue:    #0090bf


  RenmaRed:     #880000;


*/

/* ---------------------
  General Styles
  --------------------- */

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 14px;
  min-height: 100%;
}

body::after {
  content: "";
  background: url(../assets/images/tsukiBackground.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 50px;
  position: absolute;
  z-index: -1;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#header {
  margin-top: 55px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px 45px 10px 45px;
}

#header h1 {
  font-weight: 800;
  line-height: 1;
  text-shadow: 1px 1px rgba( 0, 0, 0, 0.1 );
}
#header p {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-shadow: 1px 1px rgba( 0, 0, 0, 0.1 );
}

.text-box {
  max-width: 782px;
  margin: 0px auto;
}

#map {
  height: 400px;
  width: 100%;
}
